<a href="https://colab.research.google.com/github/MaftunaMukh/INHA_DATABASE/blob/main/week%2013_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQLite Pandas Examples

In [ ]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [1]:
with con:
    con.execute("""
        CREATE TABLE USER (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age INTEGER
        );
    """)

NameError: ignored

In [2]:
sql = 'INSERT INTO USER (id, name, age) values(?, ?, ?)'
data = [
    (1, 'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

In [3]:
with con:
    con.executemany(sql, data)

NameError: ignored

In [4]:
with con:
    data = con.execute("SELECT * FROM USER WHERE age <= 22")
    for row in data:
        print(row)

NameError: ignored

Integrate SQLite with Pandas

In [5]:
import pandas as pd
df_skill = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

In [6]:
df_skill.to_sql('SKILL', con)
df = pd.read_sql('''
    SELECT s.user_id, u.name, u.age, s.skill 
    FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)

df

NameError: ignored

In [7]:
df.to_sql('USER_SKILL', con)

NameError: ignored

**Using SQLite as a Time Series Database**
SQLite supports five *date* and *time* functions as follows:


1.   date(timestring, modifier, modifier, ...)
2.   time(timestring, modifier, modifier, ...)
3. datetime(timestring, modifier, modifier, ...)
4. julianday(timestring, modifier, modifier, ...)
5. strftime(format, timestring, modifier, modifier, ...)

All five date and time functions take a time string as an argument. The time string is followed by zero or more modifiers. The strftime() function also takes a format string as its first argument. With these date and time functions, we can save time series data into a SQLite database so as to use SQLite as a time series database.

In this subsection, we will create a table to save man-made temperature data at different dates and times. You can presume that they are collected from some kind of temperature sensors.

This subsection notebook will present:



*   Practice date and time functions
*   Create a temperature table and index
*   Insert data into the temperature table
*   Query

In [ ]:
%load_ext sql
from random import uniform, choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

1. **Connect to database**

---


It was mentioned before the demo.db3 is extracted from a hydrological modelling. As a result, the data in each table is tidy and complete without NULL values. However, we can create a table with NULL values for demo.

In [8]:
%sql sqlite:///demo.db3

UsageError: Line magic function `%sql` not found.

2. **Play with date and time functions**

---


You can find more example from lang_datefunc or sqlite_date_time

**Compute the current date.**

In [9]:
%sql SELECT date('now');

UsageError: Line magic function `%sql` not found.

**Compute the last day of the current month.**

In [10]:
%sql SELECT date('now','start of month','+1 month','-1 day');

UsageError: Line magic function `%sql` not found.

3. **Create a table of time series temperature**

---


3.1 Create table
only with two columns of timestamp and Temperature

In [11]:
%%sql sqlite://
DROP TABLE IF EXISTS Temperature;
CREATE TABLE Temperature (Timestamp DATETIME NOT NULL, Temperature NUMERIC NOT NULL)

UsageError: Cell magic `%%sql` not found.

3.2 **Create an index:** 
For efficient querying, we'll want to index the timestamp column.

In [12]:
%%sql sqlite://
CREATE UNIQUE INDEX idx_timestamp ON Temperature (Timestamp);

UsageError: Cell magic `%%sql` not found.

3.3 **Insert data**: Make 500 rows of data and temperature ranges between 18 to 26.

In [13]:
def dt(days):
    return timedelta(days=days)

N_rows = 500
now = datetime.now()

for i in range(N_rows):
    timestamp = now - dt(days=(N_rows - i))
    temperature = uniform(18, 26)
    %sql INSERT INTO Temperature VALUES (:timestamp, :temperature);

NameError: ignored

4. **Play with time series table**: 4.1 Simple Query

In [14]:
%sql SELECT datetime(Timestamp) as Date, Temperature FROM Temperature LIMIT 5

UsageError: Line magic function `%sql` not found.

4.2 Filter with a datetime

In [ ]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE Date <= '2022-06-31 14:21:45'

Done.

[('2021-06-24 05:20:52.343513', 21.8125762044899),
 ('2021-06-25 05:20:52.343513', 20.91169727804637),
 ('2021-06-26 05:20:52.343513', 20.350985942441316),
 ('2021-06-27 05:20:52.343513', 25.89066014928476),
 ('2021-06-28 05:20:52.343513', 19.343430564513895),
 ('2021-06-29 05:20:52.343513', 20.609761477969986),
 ('2021-06-30 05:20:52.343513', 25.416185375121835),
 ('2021-07-01 05:20:52.343513', 20.63017668131279),
 ('2021-07-02 05:20:52.343513', 25.92278856578011),
 ('2021-07-03 05:20:52.343513', 24.84991726590022),
 ('2021-07-04 05:20:52.343513', 24.421754311594192),
 ('2021-07-05 05:20:52.343513', 19.805279290706128),
 ('2021-07-06 05:20:52.343513', 20.669610405935906),
 ('2021-07-07 05:20:52.343513', 20.639968900138562),
 ('2021-07-08 05:20:52.343513', 21.371013634543267),
 ('2021-07-09 05:20:52.343513', 23.972839660406798),
 ('2021-07-10 05:20:52.343513', 25.04689377722825),
 ('2021-07-11 05:20:52.343513', 24.0910324226842),
 ('2021-07-12 05:20:52.343513', 19.509528583601103),
 ('2021-07-13 05:20:52.343513', 23.18622282862954),
 ('2021-07-14 05:20:52.343513', 24.181969730137517),
 ('2021-07-15 05:20:52.343513', 23.86674971426084),
 ('2021-07-16 05:20:52.343513', 22.936593190654648),
 ('2021-07-17 05:20:52.343513', 20.579207071680564),
 ('2021-07-18 05:20:52.343513', 24.698694637112713),
 ('2021-07-19 05:20:52.343513', 18.739425260389858),
 ('2021-07-20 05:20:52.343513', 18.641151627003534),
 ('2021-07-21 05:20:52.343513', 19.530889126856376),
 ('2021-07-22 05:20:52.343513', 25.858278302043843),
 ('2021-07-23 05:20:52.343513', 24.016972031402876),
 ('2021-07-24 05:20:52.343513', 19.292094148534307),
 ('2021-07-25 05:20:52.343513', 23.557199096305705),
 ('2021-07-26 05:20:52.343513', 25.498357133886746),
 ('2021-07-27 05:20:52.343513', 19.80610864977197),
 ('2021-07-28 05:20:52.343513', 22.2962466041619),
 ('2021-07-29 05:20:52.343513', 22.272162989011107),
 ('2021-07-30 05:20:52.343513', 22.21966214140757),
 ('2021-07-31 05:20:52.343513', 25.15646845066232),
 ('2021-08-01 05:20:52.343513', 18.473252374971704),
 ('2021-08-02 05:20:52.343513', 20.87013591103168),
 ('2021-08-03 05:20:52.343513', 19.285733236685466),
 ('2021-08-04 05:20:52.343513', 25.486543398450547),
 ('2021-08-05 05:20:52.343513', 22.107517064031594),
 ('2021-08-06 05:20:52.343513', 18.108408972436166),
 ('2021-08-07 05:20:52.343513', 22.403809512858068),
 ('2021-08-08 05:20:52.343513', 20.63811445391275),
 ('2021-08-09 05:20:52.343513', 25.81575042212812),
 ('2021-08-10 05:20:52.343513', 21.614907372310856),
 ('2021-08-11 05:20:52.343513', 24.412521061735596),
 ('2021-08-12 05:20:52.343513', 18.838078726469078),
 ('2021-08-13 05:20:52.343513', 20.350617148473606),
 ('2021-08-14 05:20:52.343513', 23.43556535547322),
 ('2021-08-15 05:20:52.343513', 21.81555472866919),
 ('2021-08-16 05:20:52.343513', 22.86660139432601),
 ('2021-08-17 05:20:52.343513', 22.351257602810154),
 ('2021-08-18 05:20:52.343513', 23.727406084232207),
 ('2021-08-19 05:20:52.343513', 20.45531051506328),
 ('2021-08-20 05:20:52.343513', 24.516931880981133),
 ('2021-08-21 05:20:52.343513', 23.25216648058038),
 ('2021-08-22 05:20:52.343513', 23.733888232985155),
 ('2021-08-23 05:20:52.343513', 25.993907725955346),
 ('2021-08-24 05:20:52.343513', 23.73354711861433),
 ('2021-08-25 05:20:52.343513', 25.5340336253552),
 ('2021-08-26 05:20:52.343513', 18.96660132988019),
 ('2021-08-27 05:20:52.343513', 22.00027934170071),
 ('2021-08-28 05:20:52.343513', 19.54325306786106),
 ('2021-08-29 05:20:52.343513', 23.23924529818025),
 ('2021-08-30 05:20:52.343513', 21.91564574044226),
 ('2021-08-31 05:20:52.343513', 21.628603984022337),
 ('2021-09-01 05:20:52.343513', 21.45206779867796),
 ('2021-09-02 05:20:52.343513', 22.04180281072176),
 ('2021-09-03 05:20:52.343513', 20.913147172637338),
 ('2021-09-04 05:20:52.343513', 23.76174884406855),
 ('2021-09-05 05:20:52.343513', 24.313351738260614),
 ('2021-09-06 05:20:52.343513', 22.865799577020276),
 ('2021-09-07 05:20:52.343513', 21.34250812048102),
 ('2021-09-08 05:20:52.343513', 22.383999491170805),
 ('2021-09-09 05:20:52.343513', 18.46425364273125),
 ('2021-09-10 05:20:52.343513', 22.421734478819037),
 ('2021-09-11 05:20:52.343513', 24.182225330080104),
 ('2021-09-12 05:20:52.343513', 21.516204498017366),
 ('2021-09-13 05:20:52.343513', 24.3217423317311),
 ('2021-09-14 05:20:52.343513', 24.42524027793049),
 ('2021-09-15 05:20:52.343513', 23.14575663140304),
 ('2021-09-16 05:20:52.343513', 20.80499285702252),
 ('2021-09-17 05:20:52.343513', 23.917372638780222),
 ('2021-09-18 05:20:52.343513', 22.981245277847453),
 ('2021-09-19 05:20:52.343513', 25.686754622646482),
 ('2021-09-20 05:20:52.343513', 18.606477809831382),
 ('2021-09-21 05:20:52.343513', 18.804829913651396),
 ('2021-09-22 05:20:52.343513', 19.87709702362764),
 ('2021-09-23 05:20:52.343513', 19.12746285070783),
 ('2021-09-24 05:20:52.343513', 23.41956757263572),
 ('2021-09-25 05:20:52.343513', 19.346839419389976),
 ('2021-09-26 05:20:52.343513', 21.363888380130007),
 ('2021-09-27 05:20:52.343513', 25.03915073666687),
 ('2021-09-28 05:20:52.343513', 21.915928405899066),
 ('2021-09-29 05:20:52.343513', 25.91239798114503),
 ('2021-09-30 05:20:52.343513', 19.258303620379444),
 ('2021-10-01 05:20:52.343513', 21.03624986438801),
 ('2021-10-02 05:20:52.343513', 21.438233705645636),
 ('2021-10-03 05:20:52.343513', 19.591114006139694),
 ('2021-10-04 05:20:52.343513', 25.14195753247918),
 ('2021-10-05 05:20:52.343513', 24.94218341994812),
 ('2021-10-06 05:20:52.343513', 24.31615936825108),
 ('2021-10-07 05:20:52.343513', 23.446775471806134),
 ('2021-10-08 05:20:52.343513', 19.766238502794845),
 ('2021-10-09 05:20:52.343513', 23.58128704103064),
 ('2021-10-10 05:20:52.343513', 22.54229598563822),
 ('2021-10-11 05:20:52.343513', 21.06194933089735),
 ('2021-10-12 05:20:52.343513', 18.698443921755167),
 ('2021-10-13 05:20:52.343513', 19.128371355843786),
 ('2021-10-14 05:20:52.343513', 25.88057441329348),
 ('2021-10-15 05:20:52.343513', 19.832184031554544),
 ('2021-10-16 05:20:52.343513', 24.403233654279603),
 ('2021-10-17 05:20:52.343513', 18.25359824970534),
 ('2021-10-18 05:20:52.343513', 24.17099254581838),
 ('2021-10-19 05:20:52.343513', 20.399551162741098),
 ('2021-10-20 05:20:52.343513', 21.38967515565656),
 ('2021-10-21 05:20:52.343513', 18.68421306793362),
 ('2021-10-22 05:20:52.343513', 18.982207075607832),
 ('2021-10-23 05:20:52.343513', 19.18062567445862),
 ('2021-10-24 05:20:52.343513', 23.947595367274918),
 ('2021-10-25 05:20:52.343513', 23.211051015017002),
 ('2021-10-26 05:20:52.343513', 19.45211144421085),
 ('2021-10-27 05:20:52.343513', 20.730612564318974),
 ('2021-10-28 05:20:52.343513', 18.192332951082765),
 ('2021-10-29 05:20:52.343513', 20.254535280040542),
 ('2021-10-30 05:20:52.343513', 22.870810510818806),
 ('2021-10-31 05:20:52.343513', 19.69815452229016),
 ('2021-11-01 05:20:52.343513', 19.28611346906831),
 ('2021-11-02 05:20:52.343513', 21.810832395777364),
 ('2021-11-03 05:20:52.343513', 23.23428631948908),
 ('2021-11-04 05:20:52.343513', 21.545365117106236),
 ('2021-11-05 05:20:52.343513', 24.56614795393601),
 ('2021-11-06 05:20:52.343513', 20.32563504784273),
 ('2021-11-07 05:20:52.343513', 24.9696736396844),
 ('2021-11-08 05:20:52.343513', 25.82532256287606),
 ('2021-11-09 05:20:52.343513', 19.135535826970134),
 ('2021-11-10 05:20:52.343513', 23.03843120339088),
 ('2021-11-11 05:20:52.343513', 19.586361588794098),
 ('2021-11-12 05:20:52.343513', 23.745313338062964),
 ('2021-11-13 05:20:52.343513', 19.485177779098244),
 ('2021-11-14 05:20:52.343513', 18.091543658537546),
 ('2021-11-15 05:20:52.343513', 25.94869718564282),
 ('2021-11-16 05:20:52.343513', 21.347793304776133),
 ('2021-11-17 05:20:52.343513', 23.808131453932063),
 ('2021-11-18 05:20:52.343513', 18.150859819336052),
 ('2021-11-19 05:20:52.343513', 20.11752241699571),
 ('2021-11-20 05:20:52.343513', 24.441939728052745),
 ('2021-11-21 05:20:52.343513', 21.061622784195993),
 ('2021-11-22 05:20:52.343513', 21.906378623420395),
 ('2021-11-23 05:20:52.343513', 18.89921210859692),
 ('2021-11-24 05:20:52.343513', 23.793265790200774),
 ('2021-11-25 05:20:52.343513', 19.522675476028244),
 ('2021-11-26 05:20:52.343513', 18.76934711746316),
 ('2021-11-27 05:20:52.343513', 20.182002141076747),
 ('2021-11-28 05:20:52.343513', 23.194281737736677),
 ('2021-11-29 05:20:52.343513', 19.54102200560858),
 ('2021-11-30 05:20:52.343513', 23.38933279900914),
 ('2021-12-01 05:20:52.343513', 24.236720200296254),
 ('2021-12-02 05:20:52.343513', 20.358254772554048),
 ('2021-12-03 05:20:52.343513', 18.70951473911466),
 ('2021-12-04 05:20:52.343513', 24.48684589044113),
 ('2021-12-05 05:20:52.343513', 20.445856808318766),
 ('2021-12-06 05:20:52.343513', 22.757914631986623),
 ('2021-12-07 05:20:52.343513', 21.811628414582906),
 ('2021-12-08 05:20:52.343513', 18.784989703919244),
 ('2021-12-09 05:20:52.343513', 24.20551444493254),
 ('2021-12-10 05:20:52.343513', 20.541741524044884),
 ('2021-12-11 05:20:52.343513', 22.61144253656969),
 ('2021-12-12 05:20:52.343513', 25.60703376704032),
 ('2021-12-13 05:20:52.343513', 19.67206335078097),
 ('2021-12-14 05:20:52.343513', 19.269566701687584),
 ('2021-12-15 05:20:52.343513', 19.975250106773714),
 ('2021-12-16 05:20:52.343513', 23.576216254104583),
 ('2021-12-17 05:20:52.343513', 18.791222891469804),
 ('2021-12-18 05:20:52.343513', 19.75730038072541),
 ('2021-12-19 05:20:52.343513', 19.733666002578424),
 ('2021-12-20 05:20:52.343513', 24.752042157820476),
 ('2021-12-21 05:20:52.343513', 22.748756522269062),
 ('2021-12-22 05:20:52.343513', 21.071856733975082),
 ('2021-12-23 05:20:52.343513', 23.67241595239735),
 ('2021-12-24 05:20:52.343513', 25.88067651151207),
 ('2021-12-25 05:20:52.343513', 20.27506468215954),
 ('2021-12-26 05:20:52.343513', 23.904421630636307),
 ('2021-12-27 05:20:52.343513', 21.9434930601154),
 ('2021-12-28 05:20:52.343513', 24.4807531955931),
 ('2021-12-29 05:20:52.343513', 25.547104212268763),
 ('2021-12-30 05:20:52.343513', 18.899623492456808),
 ('2021-12-31 05:20:52.343513', 25.653128735068716),
 ('2022-01-01 05:20:52.343513', 25.153715190898808),
 ('2022-01-02 05:20:52.343513', 18.529720323703163),
 ('2022-01-03 05:20:52.343513', 24.40457891395414),
 ('2022-01-04 05:20:52.343513', 18.979878804582096),
 ('2022-01-05 05:20:52.343513', 21.826271691406106),
 ('2022-01-06 05:20:52.343513', 21.066031262352915),
 ('2022-01-07 05:20:52.343513', 20.243028136018495),
 ('2022-01-08 05:20:52.343513', 25.94823545210058),
 ('2022-01-09 05:20:52.343513', 21.65536177357456),
 ('2022-01-10 05:20:52.343513', 19.99605427383861),
 ('2022-01-11 05:20:52.343513', 20.32236802205018),
 ('2022-01-12 05:20:52.343513', 20.98405655640688),
 ('2022-01-13 05:20:52.343513', 19.725379316341712),
 ('2022-01-14 05:20:52.343513', 18.4856873220127),
 ('2022-01-15 05:20:52.343513', 22.264293318819806),
 ('2022-01-16 05:20:52.343513', 18.86565371312476),
 ('2022-01-17 05:20:52.343513', 23.833141785660473),
 ('2022-01-18 05:20:52.343513', 25.46464994502841),
 ('2022-01-19 05:20:52.343513', 20.33760998490601),
 ('2022-01-20 05:20:52.343513', 20.366136777964208),
 ('2022-01-21 05:20:52.343513', 19.08926805548591),
 ('2022-01-22 05:20:52.343513', 20.354871138815884),
 ('2022-01-23 05:20:52.343513', 25.031975476071416),
 ('2022-01-24 05:20:52.343513', 22.822532594648127),
 ('2022-01-25 05:20:52.343513', 24.809015149589264),
 ('2022-01-26 05:20:52.343513', 24.824583043140876),
 ('2022-01-27 05:20:52.343513', 24.3338128708233),
 ('2022-01-28 05:20:52.343513', 21.345656249642346),
 ('2022-01-29 05:20:52.343513', 21.759001902319515),
 ('2022-01-30 05:20:52.343513', 25.772991630166093),
 ('2022-01-31 05:20:52.343513', 23.83397108854449),
 ('2022-02-01 05:20:52.343513', 18.891164114287),
 ('2022-02-02 05:20:52.343513', 23.255574933039448),
 ('2022-02-03 05:20:52.343513', 23.636179981584323),
 ('2022-02-04 05:20:52.343513', 23.275495673319412),
 ('2022-02-05 05:20:52.343513', 19.71721919126479),
 ('2022-02-06 05:20:52.343513', 23.58627497019119),
 ('2022-02-07 05:20:52.343513', 21.424995346214),
 ('2022-02-08 05:20:52.343513', 23.104971467146513),
 ('2022-02-09 05:20:52.343513', 19.810206745273796),
 ('2022-02-10 05:20:52.343513', 21.219652983931038),
 ('2022-02-11 05:20:52.343513', 20.64754061728853),
 ('2022-02-12 05:20:52.343513', 25.82418254910676),
 ('2022-02-13 05:20:52.343513', 18.311846993197044),
 ('2022-02-14 05:20:52.343513', 18.450024208812437),
 ('2022-02-15 05:20:52.343513', 21.14753177778071),
 ('2022-02-16 05:20:52.343513', 18.08398779106477),
 ('2022-02-17 05:20:52.343513', 25.50862429889266),
 ('2022-02-18 05:20:52.343513', 22.18089181535359),
 ('2022-02-19 05:20:52.343513', 22.242210080354745),
 ('2022-02-20 05:20:52.343513', 22.808822528787072),
 ('2022-02-21 05:20:52.343513', 18.6228248810007),
 ('2022-02-22 05:20:52.343513', 21.691687175866708),
 ('2022-02-23 05:20:52.343513', 18.810954953861213),
 ('2022-02-24 05:20:52.343513', 25.169130686652345),
 ('2022-02-25 05:20:52.343513', 21.72124879717043),
 ('2022-02-26 05:20:52.343513', 20.469160863195746),
 ('2022-02-27 05:20:52.343513', 22.31880382913424),
 ('2022-02-28 05:20:52.343513', 24.431834675012254),
 ('2022-03-01 05:20:52.343513', 21.972089900471595),
 ('2022-03-02 05:20:52.343513', 18.457919510476895),
 ('2022-03-03 05:20:52.343513', 22.882369612481643),
 ('2022-03-04 05:20:52.343513', 25.168129536919565),
 ('2022-03-05 05:20:52.343513', 19.36991837115508),
 ('2022-03-06 05:20:52.343513', 24.75135168693098),
 ('2022-03-07 05:20:52.343513', 22.496315341871256),
 ('2022-03-08 05:20:52.343513', 25.049389991805118),
 ('2022-03-09 05:20:52.343513', 21.7127921745899),
 ('2022-03-10 05:20:52.343513', 19.59813702464126),
 ('2022-03-11 05:20:52.343513', 24.518323405924416),
 ('2022-03-12 05:20:52.343513', 23.483631993761193),
 ('2022-03-13 05:20:52.343513', 18.44604119192964),
 ('2022-03-14 05:20:52.343513', 25.301809761497328),
 ('2022-03-15 05:20:52.343513', 20.520538385157316),
 ('2022-03-16 05:20:52.343513', 19.88359645691083),
 ('2022-03-17 05:20:52.343513', 19.283399894292465),
 ('2022-03-18 05:20:52.343513', 23.09663568557456),
 ('2022-03-19 05:20:52.343513', 21.49944623470416),
 ('2022-03-20 05:20:52.343513', 25.43506930158713),
 ('2022-03-21 05:20:52.343513', 19.37020549645434),
 ('2022-03-22 05:20:52.343513', 21.4885538539721),
 ('2022-03-23 05:20:52.343513', 25.315949283389386),
 ('2022-03-24 05:20:52.343513', 21.47319294194545),
 ('2022-03-25 05:20:52.343513', 20.20875921119952),
 ('2022-03-26 05:20:52.343513', 21.4150740557335),
 ('2022-03-27 05:20:52.343513', 21.795515596649302),
 ('2022-03-28 05:20:52.343513', 22.07388670387409),
 ('2022-03-29 05:20:52.343513', 24.510756142776117),
 ('2022-03-30 05:20:52.343513', 23.88155572477621),
 ('2022-03-31 05:20:52.343513', 24.841421890958195),
 ('2022-04-01 05:20:52.343513', 23.272660375244175),
 ('2022-04-02 05:20:52.343513', 25.120899244051312),
 ('2022-04-03 05:20:52.343513', 25.650453978216394),
 ('2022-04-04 05:20:52.343513', 24.93827531112781),
 ('2022-04-05 05:20:52.343513', 23.408859766963882),
 ('2022-04-06 05:20:52.343513', 22.49141088620744),
 ('2022-04-07 05:20:52.343513', 21.185098566216638),
 ('2022-04-08 05:20:52.343513', 25.09754985183803),
 ('2022-04-09 05:20:52.343513', 22.76839445924616),
 ('2022-04-10 05:20:52.343513', 19.867457468433386),
 ('2022-04-11 05:20:52.343513', 25.630712962551296),
 ('2022-04-12 05:20:52.343513', 20.461373843562107),
 ('2022-04-13 05:20:52.343513', 20.0840873497617),
 ('2022-04-14 05:20:52.343513', 20.84401978774565),
 ('2022-04-15 05:20:52.343513', 23.45794473639334),
 ('2022-04-16 05:20:52.343513', 19.19680374361195),
 ('2022-04-17 05:20:52.343513', 24.04167224797587),
 ('2022-04-18 05:20:52.343513', 19.203411495161816),
 ('2022-04-19 05:20:52.343513', 19.40658142697528),
 ('2022-04-20 05:20:52.343513', 22.79144672455698),
 ('2022-04-21 05:20:52.343513', 24.48850739112343),
 ('2022-04-22 05:20:52.343513', 20.91530359438304),
 ('2022-04-23 05:20:52.343513', 24.528717046120565),
 ('2022-04-24 05:20:52.343513', 22.63053038098515),
 ('2022-04-25 05:20:52.343513', 20.92340251856147),
 ('2022-04-26 05:20:52.343513', 22.4066493223266),
 ('2022-04-27 05:20:52.343513', 21.508519301610622),
 ('2022-04-28 05:20:52.343513', 19.92459650644449),
 ('2022-04-29 05:20:52.343513', 18.848166864830013),
 ('2022-04-30 05:20:52.343513', 25.24080493684988),
 ('2022-05-01 05:20:52.343513', 23.222335394063425),
 ('2022-05-02 05:20:52.343513', 19.183360410095922),
 ('2022-05-03 05:20:52.343513', 25.363000449339566),
 ('2022-05-04 05:20:52.343513', 24.84070922617968),
 ('2022-05-05 05:20:52.343513', 20.661405970689877),
 ('2022-05-06 05:20:52.343513', 23.27523616681516),
 ('2022-05-07 05:20:52.343513', 24.199440653509885),
 ('2022-05-08 05:20:52.343513', 19.714606920985382),
 ('2022-05-09 05:20:52.343513', 22.122310153920843),
 ('2022-05-10 05:20:52.343513', 22.192738177796645),
 ('2022-05-11 05:20:52.343513', 24.44889963549002),
 ('2022-05-12 05:20:52.343513', 25.80447143136874),
 ('2022-05-13 05:20:52.343513', 20.48362255705491),
 ('2022-05-14 05:20:52.343513', 25.776869195655852),
 ('2022-05-15 05:20:52.343513', 21.572739667295455),
 ('2022-05-16 05:20:52.343513', 25.702354423213652),
 ('2022-05-17 05:20:52.343513', 23.300045924436247),
 ('2022-05-18 05:20:52.343513', 20.727201693627332),
 ('2022-05-19 05:20:52.343513', 18.06871266441798),
 ('2022-05-20 05:20:52.343513', 20.500072411971324),
 ('2022-05-21 05:20:52.343513', 24.59737293168892),
 ('2022-05-22 05:20:52.343513', 24.5672357772139),
 ('2022-05-23 05:20:52.343513', 24.71830115955848),
 ('2022-05-24 05:20:52.343513', 23.944983721284324),
 ('2022-05-25 05:20:52.343513', 18.16958801806042),
 ('2022-05-26 05:20:52.343513', 20.049955938492335),
 ('2022-05-27 05:20:52.343513', 22.63110245660867),
 ('2022-05-28 05:20:52.343513', 18.949718521372354),
 ('2022-05-29 05:20:52.343513', 25.747339484312057),
 ('2022-05-30 05:20:52.343513', 20.58062379067311),
 ('2022-05-31 05:20:52.343513', 18.522444811107867),
 ('2022-06-01 05:20:52.343513', 20.783000764280597),
 ('2022-06-02 05:20:52.343513', 19.41289052295548),
 ('2022-06-03 05:20:52.343513', 18.202600517554444),
 ('2022-06-04 05:20:52.343513', 21.347213903726725),
 ('2022-06-05 05:20:52.343513', 20.578452665638153),
 ('2022-06-06 05:20:52.343513', 20.11159317194898),
 ('2022-06-07 05:20:52.343513', 18.17449647387749),
 ('2022-06-08 05:20:52.343513', 20.43769995768207),
 ('2022-06-09 05:20:52.343513', 25.601896090882892),
 ('2022-06-10 05:20:52.343513', 24.370681429046993),
 ('2022-06-11 05:20:52.343513', 18.948223800111883),
 ('2022-06-12 05:20:52.343513', 21.0935806714306),
 ('2022-06-13 05:20:52.343513', 23.26910094542392),
 ('2022-06-14 05:20:52.343513', 24.62833087678996),
 ('2022-06-15 05:20:52.343513', 20.97145133658992),
 ('2022-06-16 05:20:52.343513', 19.268527739284814),
 ('2022-06-17 05:20:52.343513', 23.498505404187313),
 ('2022-06-18 05:20:52.343513', 19.408705470734485),
 ('2022-06-19 05:20:52.343513', 21.43554771235142),
 ('2022-06-20 05:20:52.343513', 24.91360054614801),
 ('2022-06-21 05:20:52.343513', 25.939726533081846),
 ('2022-06-22 05:20:52.343513', 22.8279259995115),
 ('2022-06-23 05:20:52.343513', 22.12367619439941),
 ('2022-06-24 05:20:52.343513', 19.073476472183206),
 ('2022-06-25 05:20:52.343513', 25.24219632742896),
 ('2022-06-26 05:20:52.343513', 18.93662629673546),
 ('2022-06-27 05:20:52.343513', 24.294806680649824),
 ('2022-06-28 05:20:52.343513', 20.602970497987855),
 ('2022-06-29 05:20:52.343513', 25.269559322689542),
 ('2022-06-30 05:20:52.343513', 18.516055861064146)]

4.3 Query data at a specific year
Use CAST string to integer as strftime returns a string.

In [15]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature 
FROM Temperature
WHERE CAST(strftime('%Y', Date) as Int) = 2021

UsageError: Cell magic `%%sql` not found.

4.5 Aggregate yearly

In [ ]:
%%sql sqlite://
SELECT strftime('%Y', Timestamp) as Year, 
       AVG(Temperature) AS MEAN_TMP,
       MAX(Temperature) AS MAX_TMP,
       MIN(Temperature) AS MIN_TMP
FROM Temperature
GROUP BY strftime('%Y', Timestamp)

Done.

[('2021', 21.986580402282588, 25.993907725955346, 18.091543658537546),
 ('2022', 21.950029908693434, 25.94823545210058, 18.005595234084954)]

5. **Visualization**: Here we convert SQL query results into Pandas DataFrame.

In [17]:
ts = %sql SELECT datetime(Timestamp) as date, Temperature FROM Temperature
df = ts.DataFrame()
df.set_index("date", inplace = True) 
df.index = pd.to_datetime(df.index)
df.index

UsageError: Line magic function `%sql` not found.

In [16]:
df.plot(figsize=(12, 6))

NameError: ignored

**Summary and References**

---


Time series databases (TSDBs) are getting popular these days. There are quite a few TSDbs such as InfluxDB, Graphite, Druid, Kairos, and Prometheus. With the SQLite date and time functions, we can save time series data into a SQLite database so as to use SQLite as a time series database.

Ref: https://www.sqlite.org/lang_datefunc.html